*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    
    /* background-color:rgba(53, 3, 68,0.9); */
    background-image: linear-gradient(45deg,red,orange,teal);
    height: 80px;
    padding: 0 20px;
    width: 100%;
   
   
 
}

nav{
    float: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
  
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 10px 20px;
    /* border-radius: 10px; */
    text-transform: capitalize;
    transition: 0.6s;
}
nav a:hover{
/* background-color: rgb(57, 50, 68); */

color:rgb(206, 204, 209);
opacity: 0.8;
border-bottom: 2px solid white;



}


header img{
    border-radius: 20px 0 20px 0;
    width:120px;
     height:70px;
     padding-top: 5px;
     float:left;
  
    position: relative;
    left: 0;
    z-index: 1;  
}
header p{
    
    display: inline-block;
    line-height: 80px;
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:rgb(209, 209, 200);
}

@media (max-width: 500px){
    header p{
      display: none;
    }
    }

section.search{
    background-image: linear-gradient(white,blue);
    height: 300px;
    width: 100%;
    padding-top: 50px;
    box-shadow: 0 10px 10px 10px blue;
}

section.search input{
    width: 500px;
    height:40px;

display: block;
margin: auto;
border-radius: 20px;
border:none;
padding: 10px;

}
select {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin: 30px auto;
    display: block;
    border-radius: 20px;
    padding: 10px;
    color: gray;
  }

@media (max-width: 600px){
   
    section.search input{
        width: 300px;
    }
    select {
        width: 300px;
        height: 40px;
       
      }
    }

section.item{
margin-top: 30px;
padding: 20px;
width: 100%;
}
section.item .food{
width: 22%;
height:350px;
transition: 0.5s;

box-shadow: 0 0 20px 8px rgb(245, 244, 243);
float: left;
border-radius: 30px;
margin: 20px;

}

section.item .food:hover{
transform: scale(1.1);
background-color: indigo;
}
section .food img{
border-radius: 30px;
width: 100%;
height: 200px;
margin-bottom: 20px;
}

@media (max-width: 600px){
   
    section.item .food{
        width: 250px;
        height:300px;
      
        
        }
        section .food img{
         
            height: 150px;
          
            }
    }

        @media (max-width: 1160px) and (min-width:830px){
            section.item .food{
                width: 200px;
                height:250px;
              
                }
                section .food img{
                 
                    height: 100px;
                  
                    }
        }
        @media (max-width: 839px) and (min-width:500px){
            section.item .food{
                width: 220px;
                height:270px;
              
                }
                section .food img{
                 
                    height: 100px;
                  
                    }
        
        }
      
      
        @media (max-width: 500px){
            section.item .food{
                width: 300px;
                height:340px;
              margin: 10px auto;
              float: initial;
                }
                section .food img{
                 
                    height: 200px;
                  
                    }
        
        }



.footer{
clear: both;
width: 100%;

padding:40px 20px;
margin-top: 50px;
background-image: linear-gradient(black,gray);

}



.mycontent{
width: 100%;
height: 220px;
border-bottom:2px solid rgba(255,255,255,0.1);
}
.mycontent .about{
float: left;
height: 200px;
width: 30%;
margin-right: 50px;
overflow: hidden;
}
.mycontent  .about h2{
color:white;
text-transform: uppercase;
margin-bottom: 30px;

}
.mycontent .about p{
color:white;
opacity:0.5;
text-align: justify;
}
.mycontent .link{
float: right;
width: 20%;
height: 200px;
}
.mycontent .link p{
color:white;
text-transform: uppercase;
margin-bottom: 30px;
}
.mycontent .link ul{
list-style: none;
}
.mycontent .link ul li{
margin: 5px;
}
.mycontent .link ul li a{
color: white; 
text-decoration: none;
opacity:0.5;
}
.mycontent .link ul li a:hover{
 opacity: 0.7;
}

.mycontent::after{
content: '';
clear: both;
display: block;
}
.last{
    color:whitesmoke;
display: block;
width: 180px;
margin: 0 auto;
margin-top: 20px;
opacity: 0.5;
}