* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  a {
    text-decoration: none;
  }
  body {
    background-image: linear-gradient(45deg, red, orange, teal);
    /* background-image: linear-gradient(rgb(59, 33, 202),rgb(228, 34, 228)); */
    height: 100vh;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .container-1{
    background-image: linear-gradient(blue,gray);
    height: 500px;
    width: 300px;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
  }
  .container-1 .forget {
   
   
    display: block;
    width: 50%;
  
  }
  .container-2 {
    padding-top: 10px;
    width: 400px;
    height: 500px;
    /* background-color: white; */
    background-image: linear-gradient(teal,white);
    /* margin: 100px auto; */
    border-radius: 30px 0 0 30px;
    /* float: left; */
  }
  .container-2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* box-shadow: 0 0 10px 3px orange; */
    margin: auto;

    display: block;
  }
  .container-2 h2 {
    color: rgb(223, 17, 17);
    text-align: center;
    /* text-shadow: 2px 2px 2px 2px orange; */
    padding: 30px 0 20px 0;
  }

  .container-2 .social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50;
  }

  .container-2 label {
    display: block;
    margin-left: 40px;
  }
  .container-2 .field {
    display: block;
    width: 80%;
    margin: 30px auto;
    border: hidden;
    height: 40px;
    border-bottom: 2px solid rgba(10, 10, 10, 0.5);
    background-color: white;
    
  }

  .container-2 input[type="submit"] {
    display: block;
    /* background-color: rgb(224, 77, 24); */
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin: 70px 20px 30px 30px;
    border: hidden;
    float: right;
    color: black;
    border: 2px solid yellowgreen;
    background-color: rgb(223, 88, 10);

    /* background-image: linear-gradient(green,orange); */
  }
  .container-2 .forget {
    margin-top: 75px;
    margin-bottom: 20px;
    display: block;
    width: 50%;
    float: right;
  }
  .container-2 .forget a {
    text-decoration: none;
    padding: 10px;

    color: rgb(235, 10, 10);
  }
  .container-2 input[type="submit"]:hover {
    background-image: linear-gradient(green, orange);
    box-shadow: 0 0 10px 3px rgb(90, 85, 85);
    color: white;
  }
  .social i {
    margin-right: 20px;
    color: rgb(235, 24, 8);
    font-size: 20px;
  }
  input[type="submit"]:hover {
    position: relative;
    top: -8px;
  }
  .forget a:hover {
    opacity: 0.7;
  }
  .terms a:hover {
    opacity: 0.7;
  }

  .container-2 .social {
    width: 100%;
    height: 62px;
    border-radius: 0 0 0 30px;
    background-image: linear-gradient(rgb(32, 32, 31), gray);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-1 .forget {
   /* border: 2px solid black; */
   display: block;
   width:300px;
 
 
 }
 .container-1 .forget .sign{
  margin: auto;
   margin-top: 30px;
   display: block;
   width:100px;
   height: 40px;
   text-align: center;
   background-color: rgb(216, 124, 3);
   line-height: 40px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
 
 }
 .fa-user{
    margin-right: 10px;
   font-size: 20px;  
}