* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  a {
    text-decoration: none;
  }
  body {
    background-image: linear-gradient(45deg, red, orange, teal);
    /* background-image: linear-gradient(rgb(59, 33, 202),rgb(228, 34, 228)); */
    height: 100vh;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  min-width: 400px;
  }
  .arti{
    width: 300px;
    
  }
  .container-1{
    background-image: linear-gradient(blue,gray);
    width: 300px;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
  }
  .container-1 .forget {
   
   
    display: block;
    width: 50%;
  
  }
  .container-2 {
    padding-top: 10px;
    width: 400px;
    height: 500px;
    position: relative;
    left:0;
    top:0;
  
    background-image: linear-gradient(teal,white);
   
    border-radius: 30px 0 0 30px;
   
  }
  .container-2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
    margin: auto;
margin-bottom: 40px;
    display: block;
  }
  .container-2 h2 {
    color: rgb(223, 17, 17);
    text-align: center;
  
    padding: 30px 0 20px 0;
  }

  .container-2 .social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50;
  }

  .container-2 label {
    display: block;
    margin-left: 40px;
  }


  .container-2 input[type="submit"] {
    display: block;
   
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin: 70px 20px 30px 30px;
    border: hidden;
    float: right;
    color: black;
    border: 2px solid yellowgreen;
    background-color: rgb(223, 88, 10);
color: white;
font-family: sans-serif;
  }
  .container-2 .forget {
    margin-top: 75px;
    margin-bottom: 20px;
    display: block;
    width: 50%;
    float: right;
  }
  .container-2 .forget a {
    text-decoration: none;
    padding: 10px;

    color: rgb(235, 10, 10);
  }
  .container-2 input[type="submit"]:hover {
    background-image: linear-gradient(green, orange);
    box-shadow: 0 0 10px 3px rgb(90, 85, 85);
    color: white;
  }
  .social i {
    margin-right: 20px;
  
    font-size: 25px;
  }
  input[type="submit"]:hover {
    position: relative;
    top: -8px;
  }
  .forget a:hover {
    opacity: 0.7;
  }
  .terms a:hover {
    opacity: 0.7;
  }

  .container-2 .social {
    width: 100%;
    height: 62px;
    border-radius: 0 0 0 30px;
    background-image: linear-gradient(rgb(32, 32, 31), gray);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

  }

  .container-2 .fa-facebook{
color:rgb(69, 69, 212);
  }
  .container-2 .fa-twitter{
color: teal;
  }
  .container-2 .fa-google-plus{
    color: white;;
  }
  .container-1 .forget {
   /* border: 2px solid black; */
   display: block;
   width:300px;
 
 
 }
 .container-1 .forget .sign{
  margin: auto;
   margin-top: 30px;
   display: block;
   width:100px;
   height: 40px;
   text-align: center;
   background-color: rgb(216, 124, 3);
   line-height: 40px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
 
 }
 .fa-user{
    margin-right: 10px;
   font-size: 20px;  
}
.form-control{

  padding-left:9px;
  padding-right:9px;
  margin-bottom: 15px;
}

.form-control input{
  display: inline-block;
  width: 98%;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
}
.msg{
  margin-top: 5px;
  color: red;
}

.icon{
  color: green;
  display: none;
}
.ricon{
  color: red;
  display: none;
}

.container-2 input {

padding:0 10px 0 5px;
}
.myform-control input:focus{
color: #495057;
background-color: #fff;
border-color: #80bdff;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media (max-width:630px){

  .container-2 {
   display: block;
   border-radius: 30px;
   margin: auto;
   
  }
  .arti{
    display: block;
    padding-bottom: 20px;
    margin-top: 20px;
    margin: auto;
  }
  .container-1{
    display: none;
  }
  .container{
    display: block;
    padding-top: 60px;
   
  }
}
@media (max-width:1100px) and (min-width:630px){
  .arti{
    display:none;
  }
}